* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

a {
    text-decoration: none;
}
.nav-menu li {
    list-style: none;
}
nav ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    font-size: 24px;


}
.nav-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
}

.page-content {
    padding: 40px;
    text-align: center;
}
.customers-page-heading {
    text-align: center;
}

.coming-soon {
    text-align: center;
}
.coming-soon img{
    height: 300px;
    width: 300px;
}
.back-to-products {
    text-align: center;
    font-size: 30px;
    color: black;
}


#multiply {
    border: 1px solid orange;
    color: gold;
}
.highlight {
    border: 1px solid red;
}

.customer {
    width: auto;
    height: auto;
    border: 1px solid orange;
    color: rgb(11, 45, 11);
    text-align: center;
    margin: 5px;
}
.table-container {
    width: 800px;
    border: 1px solid red;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}
.table-container button {
    width: 100px;
}
.table-container td {
    padding: 20px;
}
.table-item td:hover {
    background-color: aliceblue;
} 

.edit-form {
    width: 800px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.form-group {
    display: inline-block;
}
.form-group input {
    width: 350px;
    border: 1px solid rgb(182, 175, 175);
    border-radius: 5px;
}

.sign-up-button {
    align-self: flex-end;
    
}

label {
    width: 200px;
    
}
.form-group  {
    padding-bottom: 15px;;
}
.error-message-name {
    visibility: hidden;
    position: absolute;
    color: red;
}
.error-message-number {
    visibility: hidden;
    position: absolute;
    color: red;

}
.error-message-price {
    visibility: hidden;
    position: absolute;
    color: red;

}
.delete-confirmation {
    margin: 40px;
    width: 800px;
}
.delete-confirmation h3 {
    font-size: 16px;
    font-weight: 600;
}
.delete-warning {
    width: auto;
    background-color: rgb(170, 132, 132);
    color: rgb(207, 62, 62);
    border: 1px solid red;
}
.create-form-section{

    width: 800px;
    margin: auto;
    margin: 40px;
    border: 0.5px solid grey;
}
main {
    position: relative;
}
.edit-form-section {
    width: 800px;
    margin: 40px;
    border: 0.5px solid grey;
}
/* .edit-btn {
    display: none;
}
.product-delete-btn {
    display: none;
} */